<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
         
    <servlet>
        <servlet-name>Restaurant</servlet-name>
        <servlet-class>
            server.RestaurantServlet
        </servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>
			server.SearchServlet
        </servlet-class>
    </servlet>
    
    <servlet>
    	<servlet-name>Suggest</servlet-name>
    	<servlet-class>
    		server.SuggestServlet
    	</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Restaurant</servlet-name>
        <url-pattern>/restaurant</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Suggest</servlet-name>
        <url-pattern>/suggest</url-pattern>
    </servlet-mapping>

    <!-- Register the listener that reads and initializes the data -->
    <listener>
        <listener-class>
            server.InitRoutine
        </listener-class>
    </listener>
 
</web-app>